* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  height: auto;
}
.header {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 50px auto;
}

.title-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
  padding: 25px;
}

.name-con {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #b43333;
  border-radius: 10px;
  width: 280px;
  height: 150px;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.titlebox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bracket-text {
  display: flex;
  align-items: center;
  font-size: 36px;
  font-weight: 500;
}

.searchbox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  height: 280px;
}
.search-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: large;
  line-height: 1.8;
  margin-bottom: 15px;
}

.input {
  display: flex;
  justify-content: center;
  text-align: center;
  border: 1px solid red;
  width: 300px;
  height: 45px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  margin: 5px auto;
  border: 1px solid green;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.search-answer {
  border: 1px solid red;
  text-align: center;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* Answer Page start */
.main-answer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.answer-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid red;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.number-list {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  width: 50px;
  height: 25px;
  border-radius: 80%;
  -webkit-border-radius: 80%;
  -moz-border-radius: 80%;
  -ms-border-radius: 80%;
  -o-border-radius: 80%;
}

.answer-list {
}

.home-button {
  margin: 20px auto;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.home-button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

/* Answer Page ends */

.footer-bar-dark {
  text-decoration: none;
  color: aliceblue;
}
.link-text {
  color: aliceblue;
}
